.marriageLogo{
    width: 100%;
    display: grid;
    place-items: center;
    /* padding: 1rem 0; */
   
}

.marriageLogo p{
    font-size: 2rem;
    font-weight: bolder;
    background-image: linear-gradient(113.49deg, #C6535B 6.99%, rgba(22, 54, 93, 0.79) 94.29%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding: 1rem 0;
}

