.footer{
    background: linear-gradient(113.49deg, #C6535B 6.99%, rgba(22, 54, 93, 0.79) 94.29%);
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
}

.copyright{
  font-size: clamp(0.9rem, 2vw, 1.2rem );  
}

.socials{
    display: flex;
}

.socials > *{
    margin-left: 0.3rem;
}