@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Open+Sans:wght@400;500;700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #E5E5E5;
  font-family: 'Baloo 2', cursive;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Open Sans', sans-serif;
}

p{
  
  line-height: 1.8;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
/* Page style */
.Page {
  min-height: 100vh;
}
/*CUSTOM VARIABLES
-------------------------------START----------------------------*/
:root {
  --gradient-one: linear-gradient(113.49deg, #C6535B 6.99%, #16365dc9 94.29%);
  --gradient-two: linear-gradient(113.49deg, #8b5d60 6.99%, rgba(49, 71, 99, 0.79) 94.29%);
}

/*------------------------------END-----------------------------*/